*{font-family: sans-serif;}
:root{
    --primary-color:#353c44;
    --primary-alt-color:#212122b0;
    --dark-shadown:#212122b0;
    --light-shadown:#212122b0;
    --light-border:#cecee2b0;
    --dark-border:#cacacac2;
    --text-primary:#dae0e2;
    --input-backgroud:rgb(121, 121, 121);
    --blue: #2c547c;
    --light-grey-primary:rgb(236, 236, 236);
    --light-grey-secundary:rgb(212, 212, 212);
    /*MOTIONS COLOR*/
    --success-primary:#00803a;
    --success-secundary:#2a724b;
    /* DARK COLORS*/
    --black60:#2c2c2e;
    --black30:#1d1d1f;
    --black10:#1a1a1b;
    /*TO DARK MODE*/
    --dark-blue60:#3f6791;
    --dark-blue30:#5c7ea2;
    --dark-grey60:#454d55;;
    --dark-grey30:#343a40;
    --dark-grey10:#ced4da;
}
body{
    background-color: #65808f75;
    padding: 0;
    margin: 0;
}
/*------------------------
INICIO HEADER
-------------------------*/
.header{
    padding: 0px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: #65808fcb;
    width: 100%;
}
.header .header-left h1{ color: #2c547c;}

.header .header-right {display: flex;align-items: center;}
.header .header-right .header-right-txt h3{color:#b6c8da; margin: 10px;}
.header .header-right .header-right-txt p{color: var(--black60); margin: 10px;}
.header .header-right .user-img {background-color:#71a6db; height:80px;width:80px;padding:10px;display: flex;;box-sizing: border-box; object-fit: cover; align-items: center; justify-content: center;}
.header .user-img img{max-width: 100%; max-height: 100%; }
/*sub header*/
.sub-header{background-color: whitesmoke; width: 100%; display: flex; justify-content: space-between; align-items: center;}
.sub-header small{ /*animation: slide 5s linear infinite;*/color: #268aee; margin: 10px; font-weight: 500;}
.sub-header .menu{background-color:  #b2c1ce;;height: 28px; width: 34px; margin-right: 20px;}
.sub-header .menu div{ background-color: #4987aa; height: 4px; margin: 4px; width: 26px;display: flex; }

.btn{
    text-decoration: none;
    border: none; 
    background-color: #6892a8; 
    color: whitesmoke;
    padding: 4px; 
    margin-right: 20px;
    border-radius: 2px;
    box-shadow: 0px 2px 7px 0px #2c2c2e7a; 
    font-size: 11px; 
    font-weight: 400;
}

/*------------------------
FIM HEADER
-------------------------*/
.targuet-list{
    display:flex;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    }
.targuet-list a{text-decoration: none; color: rgb(93, 108, 110); font-size: 12px;margin-right: 4px;display: flex;align-items: center;justify-content: center;}

/*----------------------
INICIO DO CONTENT
-----------------------*/
.content{
    display: flex;
    flex-direction: column;
    height:70vh;
    padding-bottom: 100px;

}
.content div{ width: 50%; padding:0px 20px;}
.content .content-left{display: flex; align-items: center; justify-content: center;}
.content .content-left img{ max-width: 90%; max-height: 90%;}
.content-right h1{color: #2d3e46; margin:15px 0px;}
.content-right p{color: whitesmoke; margin:15px 0px}
.input{ height: 30px;width: 300px;outline: none; background-color: whitesmoke; border-radius: 4px;border: 2px solid rgb(21, 119, 136);}
.input:focus{border: 2px solid rgb(144, 199, 255);}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}
tbody tr{background-color: rgb(201, 216, 221);}
tbody tr:nth-child(even){background-color:rgb(157, 181, 187);}
tbody tr .btnGreen{ background-color: #00803a;}

tbody tr .btnGreen{
    text-decoration: none;
    border: none; 
    background-color: #039b4f; 
    color: whitesmoke;
    padding: 4px; 
    margin-right: 20px;
    border-radius: 2px;
    box-shadow: 0px 2px 7px 0px #2c2c2e56; 
    font-size: 11px; 
    font-weight: 400;
}

tbody tr .btnRed{
    text-decoration: none;
    border: none; 
    background-color: rgba(206, 2, 2, 0.877); 
    color: whitesmoke;
    padding: 4px; 
    margin-right: 20px;
    border-radius: 2px;
    box-shadow: 0px 2px 7px 0px #2c2c2e56; 
    font-size: 11px; 
    font-weight: 400;
}
@media only screen and  (min-width:800px) {
    .content{
        display: flex;
        flex-direction: row;
        height:70vh;
        padding-bottom: 100px;
    }  
    
}
/*----------------------
FIM DO CONTENT
-----------------------*/
.div-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    width: 100%;
    position: fixed;
    bottom:2px;
    padding:0 25px;
    box-sizing: border-box;
    background-color: var(--dark-grey30);
    color: var(--dark-grey10);
    }
.div-footer p{margin: 0; padding: 0; object-fit: cover; font-size: 12px;}
.div-footer button{ border: none;background-color:transparent; color: var(--dark-grey10);display: flex;justify-items: center; align-items: center;}
.div-footer img{ max-width: 18px; max-height: 18px; object-fit: cover; margin-left: 10px;}
