/*CORES 1*/
/*.header{
    background-color: #65808fcb!important;
}
.header .header-left h1{ color: #e3f4fd!important}
.sub-header{background-color: whitesmoke!important}
body{
    background-color: #65808f75!important;
}
.btn{
    background-color:#6892a8!important ;
}*/


/*CORES 2*/
/*
.header{
    background-color: white!important;
}
.header .header-left h1{ color: #2c547c!important}
.sub-header{background-color: whitesmoke!important}
body{
    background-color: var(--dark-blue30)!important;
}
.targuet-list a{color: whitesmoke;}
.btn{
    background-color:#6892a8!important ;
}*/